*{
    /*การกำหนดฟ้อนต์ */
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /*กำหนด Link Style */
    text-decoration: none;

    margin: 0;
    padding: 0;
    box-sizing: 0;
}

/*-------------------manu------------------*/

.container{
    max-width: 1140px;
    margin: 0 auto;

}

 nav{
     background-color: rgb(6, 14, 19);
     overflow: hidden;
 }

.nav-con{
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin-left: 10px;
    padding: 14px 16px;
}

.manu{
    display: flex;
    overflow: hidden;
}

.manu li{
    float: left;
    color: hotpink;
    list-style: none;
    margin-left: 10px;
    padding: 14px 16px;
}

.manu a:hover{
  background-color: rgb(116, 224, 224); 

}
 .manu a:active{
     background-color: thistle;
     text-decoration: none;
 }
  a{
      color: rgb(243, 137, 17);
  }
 .Logo{
     font-size: 30px;

 }
/*-----------------dropdown----------------*/
/*navbar container*/
.navbar{
    overflow: hidden;
    background-color: grey;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/*link inside navbar*/
.navbar a {
    float:left;
    font-size: 14px;
    color: hotpink;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
/*dropdown-container*/
.dropdown{
    float: left;
    overflow: hidden;
}
/*dropdown.btn*/
.dropdown .dropbtn{
    font-size: 14px;
    border: none;
    outline: none;
    color: lawngreen;
    padding: 14px 16px;
    background-color: initial;
    margin: 0;
}
.navbar a:hover, .dropdown:hover .dropbtn{
    background-color: rgb(0, 0, 0);
}

.dropdown-content{
    display: none;
    position: absolute;
    background-color: palegoldenrod;
    min-width: 16px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.1);
    z-index: 1;
}
/*Link inside dropdown*/
.dropdown-content a{
    float: none;
    color: rgb(231, 151, 45);
    padding: 14px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.dropdown-content a:hover{
    background-color: rgb(243, 137, 17);

}
.dropdown:hover .dropdown-content{
    display: block;
}

/*table style */
.styled-table{
   width: 100%;
   border-collapse:collapse ;
   margin: 25px 0;
   transition: 0.5s;
}
/* ตกแต่งหัวข้อตาราง */
.styled-table th {
    background-color: rgb(201, 139, 89); /*สีพื้นหลังหัวข้อ*/
    color: blueviolet; /* สีอักษรในหัวข้อ */
    text-align: center; /* จัดตำแหน่งอักษรไห้ชิดซ้าย */
    padding: 12px 15px ; /*เพิ่มpadding ด้านในของหัวข้อ */
    font-size: 16px; /* ขนาดอักษร */
}

/* ตกแต่งหัวแถวของตาราง */
.styled-table td{
    text-align: center;
    padding: 12px 18px;
    border-collapse: collapse;
    border-bottom: 1px solid color #ddd ;
    font-size: 16px;
}

/*เปลี่ยนสีเมื่อวางเม้าส์*/
.styled-table tr :hover{
    background-color: rgb(236, 116, 198);
}

/*เพิ่มเส้นขอบรอบตาราง*/
.styled-table , .styled-table th,.styled-table td{
    border:1px solid color rgb(19, 1, 1);
}

/*----profile------*/
.title{
    justify-content: center;
    padding: 12px;
    text-align: center;
}
.pic {
    display: flex;
    justify-content: center;
    padding: 10px;
}
.pich-item{
    max-width: 1140px;
    justify-content: center;
    text-align: center;
}
.pich-img img {
    width: 300px;
    border-radius: 100%;
    box-shadow: 0 4px 8px ;
    align-items: center;
    transform: scale(0.95);
    

    
}
.pich-item img:hover{
  transform: scale(1.0);
}
.pich-item p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: rgb(173, 35, 162);
}

.content{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    border: 1px rgb(7, 4, 4) solid;
    max-width: 1140px;
    margin: 14px 14px;
    column-gap: 14px ;
}
.content-item{
    border: 1px rgb(14, 48, 196) solid;
    padding: 12px;
    background-color: rgb(214, 62, 62);
    color: ivory;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2) , rgba(0, 0, 0, 0.2);
    
}